/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff; /* Fondo beige claro */
    color: #333;
}

/* Estilo de la barra de navegación */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
}

nav img {
    width: auto; /* Ajusta el ancho de la imagen */
    height: 21px; /* Ajusta automáticamente la altura proporcional */
}

nav .logo h1 {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

nav ul.nav-links {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: auto;
    align-items: center;
}

nav ul li {
    display: inline;
    margin-right: 25px;
}

nav ul li a {
    color: orange;
    text-decoration: none;
    font-size: 14px;
    padding: 7px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #ff945d;
}

.items {
    display: flex;
    gap: 12px;
}

nav .btn {
    padding: 10px 25px;
    background-color: #f47c3c;
    color: white !important;
    font-size: 13px;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav .btn:hover {
    background-color: #ff945d;
    transform: translateY(-3px);
    text-decoration: none;
}

nav .btn-dos {
    padding: 10px 25px;
    background-color: #a29e9d;
    color: rgb(0, 0, 0) !important;
    font-size: 13px;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav .btn-dos:hover {
    background-color: #6b6765;
    transform: translateY(-3px);
    text-decoration: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: all 0.3s ease;
}

/* Media Queries para el nav responsivo */
@media (max-width: 768px) {
    nav ul.nav-links {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        background-color: #ffffff;
        justify-content: flex-start;
        align-items: flex-start;
        transition: transform 0.5s ease-in-out;
    }

    nav ul.nav-links.nav-active {
        left: 0;
        transform: translateX(0);
    }

    nav ul li {
        display: block;
        margin: 15px 0;
    }

    .burger {
        display: block;
    }

    .burger.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.toggle .line2 {
        opacity: 0;
    }

    .burger.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .left-items, .right-items {
        width: 100%;
        text-align: center;
    }

    nav .btn, nav .btn-dos {
        width: 100%;
        text-align: center;
    }

    nav .logo img {
        margin-bottom: 15px;
    }
}

@media (max-width: 576px) {
    nav {
        flex-direction: row;
        align-items: flex-start;
    }

    nav .logo {
        margin-bottom: 15px;
    }

    nav ul.nav-links {
        width: 100%;
    }

    .left-items, .right-items {
        width: 100%;
    }

    nav .btn, nav .btn-dos {
        width: 100%;
        text-align: center;
    }

    nav .logo h1 {
        font-size: 16px;
    }

    nav ul li a {
        font-size: 12px;
    }

    nav .btn, nav .btn-dos {
        font-size: 12px;
    }
}






/* Pie de página */
footer {
    background-color: #ffffff; /* Fondo oscuro */
    color: rgb(255, 94, 0);
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;     /* Centrar verticalmente */
    box-sizing: border-box;  /* Asegura que el padding no afecte el ancho total */
    position: fixed; /* Posiciona el footer en la parte inferior de la pantalla */
    bottom: 0;
    left: 0;
}

footer p {
    margin: 0;
}


/*------------------------------------------------------Sección de Contacto------------------*/
.formulario {
    background-color: #ffffff; /* Fondo */
    height: 0px;    /* Ajusta la altura de la sección */
    color: white;
    text-align: right;
    padding: 0px 200px;
    padding-bottom: 50px;
    position: relative;
}

.text {
    background-color: #ffffff !important; /* Fondo beige más claro */
    padding: auto auto; /* Ajusta el espacio interno */
    text-align: center;
    border-radius: 13px;
    margin: 15% auto;
    width: 30%; /* Ancho para ocupar menos de la mitad de la sección */
    box-shadow: none;
    left: 10%;
    border: 0px dashed orange; /* Borde punteado */
    position: fixed;
}

.text h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: orange;
}

.text p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.6;
    color: rgb(189, 125, 5);
}

.contacto {
    position: relative;
    margin: 5% auto;
    margin-left: 50%; /* Esto moverá la sección hacia la derecha */
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 50px 30px;
    background-color: #ffffff;
    right: 5%; /* Ajusta el valor para dejar espacio desde el borde derecho */
    width: 70%; /* Ajusta el ancho según tus necesidades */
}

.contact-item {
    width: 100%;
    max-width: 600px; /* Aumenta el ancho máximo de cada ítem */
    background-color: #ffffff;
    border: 2px solid #ff945d; /* Aumenta el grosor del borde */
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 2%;
}

.contact-item h3 {
    font-size: 28px; /* Aumenta el tamaño del texto del título */
    color: orange;
    margin-bottom: 15px;
}

.contact-item p {
    font-size: 18px; /* Aumenta el tamaño de fuente del texto */
    color: #333;
    line-height: 1.8;
}

.contact-item a {
    color: #ff945d;
    text-decoration: none;
    font-size: 18px; /* Aumenta el tamaño de fuente de los enlaces */
    font-weight: bold;
    transition: color 0.3s ease;
}

.contact-item a:hover {
    color: #f47c3c;
}

/* Iconos de redes sociales */
.social-media {
    display: flex;
    justify-content: center;
    gap: 20px; /* Aumenta el espacio entre los íconos */
}

.social-icon {
    width: 40px; /* Aumenta el tamaño de los íconos */
    height: 40px;
    transition: transform 0.3s ease;
}

.social-icon2 {
    width: 40px; /* Aumenta el tamaño de los íconos */
    height: 40px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.15); /* Aumenta el efecto de ampliación */
}

/* Media Queries para la responsividad */
@media (max-width: 768px) {
    .text {
        display: none; /* Oculta la sección de texto en pantallas pequeñas */
    }

    .formulario {
        text-align: center; /* Centra el texto en la sección de formulario */
        padding: 0 20px; /* Ajusta el padding */
    }

    .contacto {
        margin: 20px auto; /* Ajusta el margen */
        margin-left: auto; /* Restablece el margen izquierdo */
        width: 90%; /* Ajusta el ancho */
        padding: 50px; /* Ajusta el padding */
        padding-top: 100px;

    }

    .contact-item {
        width: 100%; /* Asegura que cada ítem ocupe el ancho completo */
        margin-bottom: 20px; /* Ajusta el margen inferior */
    }

    .social-media {
        gap: 10px; /* Ajusta el espacio entre los íconos */
    }

    .social-icon, .social-icon2 {
        width: 30px; /* Ajusta el tamaño de los íconos */
        height: 30px;
    }
}

@media (max-width: 576px) {
    .formulario {
        padding: 0 10px; /* Ajusta el padding */
    }

    .contacto {
        width: 100%; /* Asegura que la sección ocupe el ancho completo */
        padding: 30px; /* Ajusta el padding */
        padding-top: 100px;
    }

    .contact-item h3 {
        font-size: 24px; /* Ajusta el tamaño del texto del título */
    }

    .contact-item p {
        font-size: 16px; /* Ajusta el tamaño de fuente del texto */
    }

    .contact-item a {
        font-size: 16px; /* Ajusta el tamaño de fuente de los enlaces */
    }
}

